*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 70%;
    margin: auto;

    text-align: center;
    
    font-family: 'Fredoka', sans-serif;
}

header h1{
    padding: 40px 0px;
    color: #e53170;
}

.container:after{
    content:"";
    display: block;
    clear: both;  
}

.paragraph{
    padding-bottom: 40px;
}

.card{
    height:90px; 
    width: 300px;

    float: left;

    padding-top: 10px;
    padding-left:100px;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;

    text-align: left;
    color: white;
}

.card .link{
    color: #279ee9;
    text-decoration: none;  
}

.card .name{
    font-size: 1.3em;
    font-weight: bold;
}

.card .name, .job, .link{
    padding-bottom: 4px;
}

.card.marco{
    background-image:url(../img/marco.png);     
}

.card.laura{
    background-image:url(../img/laura.png);     
}

.card.giorgio{
    background-image:url(../img/giorgio.png);     
}

.card.marta{
    background-image:url(../img/marta.png);     
}

.card.roberto{
    background-image:url(../img/roberto.png);     
}

.card.daniela{
    background-image:url(../img/daniela.png);     
}



